web/bundles/*
web/media/*
web/css/*
web/js/*
web/dist/*
web/cache/*
app/archive/*
var/cache/*
app/config/parameters.yml
var/logs/*
app/import/*
app/export/*
app/emails/*
app/uploads/*
app/uploads/product/*
app/file_storage/*
app/bootstrap.php.cache
app/config/pìm_parameters.yml
var/bootstrap.php.cache
app/phpunit.xml
build/
/docker/*
!/docker/akeneo.conf
!/docker/httpd.conf
vendor
/bin/*
!/bin/docker
/bin/docker/*
!/bin/docker/pim-dependencies.sh
!/bin/docker/pim-front.sh
!/bin/docker/pim-initialize.sh
!/bin/console
bin/console
lib/
behat.yml
.phpspec/*.tpl
composer.phar
composer.lock
node_modules/
phpspec.yml
npm-debug.log
docker-compose.yml
yarn.lock
package-lock.json
yarn-error.log

# User-specific stuff:
.idea/
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

# CMake
cmake-build-debug/

# Mongo Explorer plugin:
.idea/**/mongoSettings.xml

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Cursive Clojure plugin
.idea/replstate.xml
